<server description="new server">

    <featureManager>
        <feature>webProfile-8.0</feature>
        <feature>jdbc-4.2</feature>
    </featureManager>

    <variable name="DB_HOST" defaultValue="localhost"/>
    <variable name="DB_PORT" defaultValue="5432"/>
    <variable name="DB_NAME" defaultValue="stark_db"/>
    <variable name="DB_USER" defaultValue="admin"/>
    <variable name="DB_PASSWORD" defaultValue="secret"/>

    <configuration>
        <serverStartTimeout>120</serverStartTimeout>
    </configuration>
    <webApplication location="starkOverflow.war" contextRoot="/"/>
    <httpEndpoint host="*"
                  httpPort="9080"
                  httpsPort="9443" />

    <dataSource jndiName="jdbc/postgresql">
        <jdbcDriver libraryRef="postgresql-library"/>
        <properties.postgresql serverName="${DB_HOST}"
                               databaseName="${DB_NAME}"
                               portNumber="${DB_PORT}"
                               user="${DB_USER}"
                               password="${DB_PASSWORD}"/>
    </dataSource>

    <library id="postgresql-library">
        <file name="${server.config.dir}/postgresql-42.2.16.jar"/>
    </library>
</server>