p {
    font-size: 1.1rem;
}

#content {
    margin-top: 40px;
}

.dropdown-item:hover > .btn.btn-link {
    color: #212529;
}

form.dropdown-item {
    padding: 0;
}

form.dropdown-item > .btn.btn-link {
    width: 100%;
    padding: .25rem 1.5rem;
    text-align: left;
    margin: 0;
    color: #212529;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #DD0426;
    margin-bottom: 0;
}

.question-list {
    margin-top: 40px;
}

.question-list .question {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: -1px;
    transition: .3s all;
}

.question-list .question:hover {
    background-color: #eee;
}

.question-list a, .question-list a:hover {
    text-decoration: none;
    color: black;
}

.question-list .question-title {
    font-size: 1.3rem;
    margin-bottom: 0;
}

.question-list .question-content {
    height: 80px;
    max-height: 80px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 15px;
}